/*
----------------------------------------
COLORS

Colors in variables.
*/

$color-black: #000;
$color-white: #fff;

// Theme Colors
$color-silver: #bdbdbd;
$color-heather: #b9bdcf;
$color-cape-cod: #4e5150;
$color-silver-chalice: #a9a9a9;
$color-mercury: #e5e5e5;
