/*
----------------------------------------
FONTS
*/

$font-montserrat: "Montserrat", sans-serif;
$font-size-base: rem(10);
$line-height-base: rem(12);

// font weights
$font-weight-base: 600;
$font-weight-medium: 500;
$font-weight-bold: 700;
